<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<br>
<a href="/"><----</a>
<a></a>
<a href="chat">----></a>
<br><br>
<form id="authoriz_form" name="form">
    <table id="auth" align="center">
        <tr>
            <td colspan="1">
            </td>
            <td align="center">
                <div id="vhodtext" style="font-family: Arial, Helvetica, sans-serif; color: white;"><strong>Вход</strong></div>
            </td>
        </tr>
        <tr>
            <td colspan="1"></td>
            <td><input type="text" class="textbox_auth" name="login" placeholder="login"></td>
        </tr>
        <tr>
            <td colspan="1"></td>
            <td><input type="password" class="textbox_auth" name="password" placeholder="password"></td>
        </tr>
        <tr>
            <td colspan="1"></td>
            <td align="center">
                <button>Войти</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>