<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>Чат</title>
</head>
<body>
<a href="authoriz"><----</a>
<p id="chat_title">Hello, name.</p>
<form id="chat_form">
<textarea maxlength="1200" readonly></textarea><br>
<input type="text" id="message_textbox" name="chat_message" placeholder="Сообщение...">
<input type="submit" value="Отправить">
</form>
</body>
</html>