<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>Чат</title>
</head>
<body id="chat_body">
<a href="authoriz"><----</a>
<p id="chat_title">Hello, User.</p>
<form id="chat_form">
    <a id="chat_label_messagebox" class="chat_labels">Сообщения:</a>
    <a id="chat_label_users" class="chat_labels">Пользователи в чате:</a>
<textarea maxlength="1200" id="chat_textarea_message" readonly></textarea>
<textarea maxlength="1200" id="chat_textarea_users" readonly></textarea><br>
<input type="text" align="center" id="message_textbox" name="chat_message" placeholder="Сообщение...">
<input type="submit" id="chat_submit" name="submit_button" value="Отправить">
</form>
</body>
</html>